<a class="pcard" [routerLink]="['/shop', product().category, product().slug]">
  <span class="pcard__media">
    <app-smart-image [src]="image()" [alt]="product().name" />
    @if (product().badge) {
      <span class="tag tag--sale pcard__badge">{{ product().badge }}</span>
    }
    @if (product().isExclusive) {
      <span class="tag tag--dark pcard__exclusive">DeLight exclusive</span>
    }
    <span class="pcard__cta" aria-hidden="true">View product</span>
  </span>

  <span class="pcard__body">
    @if (product().brand) {
      <span class="pcard__brand">{{ product().brand }}</span>
    }
    <span class="pcard__name">{{ product().name }}</span>

    <span class="pcard__meta">
      @if (product().strain) {
        <span [class]="strainTagClass()">{{ product().strain }}</span>
      }
      @if (showSize() && product().size) {
        <span class="pcard__size">{{ product().size }}</span>
      }
    </span>

    @if (potency()) {
      <span class="pcard__potency">{{ potency() }}</span>
    }

    <span class="pcard__prices">
      @if (onSale()) {
        <span class="price">${{ product().discountedPrice!.toFixed(2) }}</span>
        <span class="price price--old">${{ product().price.toFixed(2) }}</span>
      } @else {
        <span class="price">${{ product().price.toFixed(2) }}</span>
      }
    </span>
  </span>
</a>
